.kr-payment-button {
    display: none !important;
}

.kr-smartform-modal-wrapper {
    z-index: 5 !important;
}

.kr-modal-open, .kr-popin-open {
    .kr-payment-button {
        display: flex !important;
    }
}

.lyra-payment-content-inner {
    .kr-smart-form {
        .kr-smartform-modal-button {
            display: none !important;
        }
        .kr-smart-form-modal-button {
            display: none !important;
        }
    }
}

div[kr-popin] {
    .kr-smart-button-wrapper {
        display: none !important;
    }
}

.kr-popin-button {
    display: none !important;
}

.payment-details {
    input[type="submit"] {
        display: none;
    }
}

.delete-card {
    float: right;
}

.card-info-group.lyra p {
    padding: 10px 0px 10px 0px;
}

.loader {
    width: 16px;
    height: 16px;
    border: 2px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.next-step-button {
    z-index: 0;
}